manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
    cores = '4'
    memory = '4'
    help = false
 
    // folder structure
    output = 'results'

    // inputs
    genomes = ''
    hmms = ''
}

profiles {
    standard {
        process.executor = 'local'
    }

    conda { 
        process.executor = 'local'
        docker.enabled = false
        process {
            withLabel: hmmsearch { cpus = params.cores; memory = params.memory; conda = 'bioconda::hmmer=3.3.2' }
        }  
    }

    slurm {
        includeConfig 'configs/nodes.config'
        executor {
            name = "slurm"
            queueSize = 100
            // exitReadTimeout = "360 sec"
            // submitRateLimit = '1 / 2 s'
            // pollInterval = '30 sec'
        }        
        process.cache = "lenient"
        process.errorStrategy = 'ignore'
    }    
  
}
